#HotAccessoriesMenu {
  display: flex;
  align-items: center;
  justify-content: center;

  .HotAccessoriesLink {
    text-decoration: none;
    margin: 1.5rem;
    color: rgb(94, 94, 94);
    padding: 0.5vmax 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
      text-decoration: none;
      color: orangered;
      border-bottom: 1px solid orangered;
      box-sizing: border-box;
    }
  }
}
