.produceRviews {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: auto;
  //   border: 1px solid red;
  .product-review-card {
    margin: 0.5vmax;
    background-color: white;
    padding-bottom: 2vmax;
    cursor: pointer;
    transition: all 240ms;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transform: translateY(-0.4vmax);
    }
    h5 {
      color: rgb(94, 94, 94);
      font-weight: 300;
      margin: 2vmax 0 0.5vmax 2vmax;
      font-size: larger;
    }
    span {
      margin: 0 2vmax;
      font-size: 1vmax;
      color: rgb(94, 94, 94);
    }
    b {
      font-size: 1vmax;
      color: orangered;
    }
  }
}
